<h2> Book your ride </h2>
<form method="POST" action='/booking-request'>

  <div class="slot-form-container">
    <label> Select the date </label>
    <input type="date" name="date">
  </div>
  <div class="slot-form-container">
    <label> Select the time slot </label>
    <select name="timeSlot">
      <option value="1"> 1 hour </option>
      <option value="4"> 4 hours </option>
      <option value="8"> 8 hours </option>
      <option value="24"> Full day </option>
    </select>
  </div>
  <div class="slot-form-container">
    <label> Select the city </label>
    <select name="city">
      <option value = "Amsterdam"> Amsterdam </option>
      <option value = "Berlin"> Berlin </option>
      <option value = "Lisbon"> Lisbon </option>
      <option value = "Madrid"> Madrid </option>
      <option value = "Paris"> Paris </option>
    </select>
  </div>
  <div class="slot-form-container">
    <button type="submit" class="btn-secondary"> Make a request </button>
  </div>
</form>

{{#if msg}}
 <div class="error">{{msg}}</div>
{{/if}}