<h1>Welcome back to your profile {{username}}!</h1>
<h3> List of your requests </h3>

<section class = "list-of-requests">
 
 {{#each bookings }}
 <p> Your latest booking is in:  {{this.city}} </p>
 <p> Your latest booking is at:  {{this.date}} </p>
 {{/each}}
</section>
<section>
   <a href="/showlist-rider" class="btn-secondary"> List of scooters </a>
</section>