<form action="/feedback" method="POST">
<div class="mb-3">
  <h3> We would be glad to hear your feedback </h3>
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input name = "email" type="email"  placeholder="Enter your email">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Feedback</label>
  <textarea class="form-control" name = "text" placeholder="Enter your feedback" rows="3"></textarea>
  </div>
  <div class = "button=submit">
  <button type="submit" class="btn btn-primary mb-3"> Send </button>
</div>
</form>