<section class="frame">
  <section class="heading">
    <h1> Welcome to IronScooter </h1>
    <br>
    <h5> Next generation of city transportation</h5>
    <br>
    <h5> As a rider, you can book your scooter and enjoy the ride </h5>
    <br>
    <h5> As a company, you can offer your scooter for renting </h5>
    <br>
    <h5> Quick and easy! </h5>
  </section>
</section>