<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="slide">
  <div class="simg">
     <div class="example">
      <img  src="/images/Neuron-scooter.jpg">  
    </div>
    <div class="example">
      <img  src="/images/scooter.jpg">  
    </div>
    <div class="example">
      <img  src="/images/scooter1.jpg">  
    </div>
    <div class="example">
      <img  src="/images/download.jpeg"> 
    </div>
</div>
</div>
                     