<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="/stylesheets/style.css" />
<body>
   <nav>
      <a class="navbar-brand" href="/"><img src="/images/Logo1.png" alt="" height="160px" width="160px" class="logo" ></a>
      <ul>
          {{#if showFeedback}}  
         <li id="to-right">
            <a href="/feedback" class="btn-secondary"> Feedback </a> <span> | </span>
         </li>
         {{/if}}
         <li id="to-right">
            <a href="/login" class="btn-secondary">Log In</a> <span> | </span>
         </li>
         <li id="to-right">
            <a href="/signup" class="btn-secondary">Sign Up</a> <span> | </span>
         </li>
      </ul>
   </nav>
   {{{body}}}
   <script src="/js/script.js"></script>
</body>

</html>