<form action="/scooterdetails" method="POST">
{{#each username}}
  {{this.user._id}}
 <div class="select-city-container">
    
    <select>
      <option> Choose your slot </option>
      <option> 1 Hour </option>
      <option> 4 Hours </option>
      <option> 8 Hours </option>
      <option> 1 Day </option>

    </select>
    <select>
      <option> Choose your city </option>
      <option> Amsterdam </option>
      <option> Berlin </option>
      <option> Lisbon </option>
      <option> Madrid </option>
      <option> Paris </option>
    </select>
  </div>
  <input type="checkbox" name = 'rider' value = 'rider'>
  <label for = 'rider'> Rider </label>
  <input type="checkbox" name = 'company' value = 'company'>
  <label for = 'company'> Company </label>
  <button type="submit">Sign Up</button>
</form>

{{!-- Conditionally render the msg --}}
{{#if msg}}
<div class="error">{{msg}}</div>
{{/if}}

