body {
  background: url("/images/greenoption1");
  background-size: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.heading h1 {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.2em 0.5em 0.2em 0.2em;
  margin: 1em 0;
}
.heading h5 {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.2em 0.5em 0.2em 0.4em;
  margin: 0.5em 0;
}

h1 {
  color: 15px;
  color: darkgreen;
}

h2 {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(67, 117, 100);
}
a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

.nav-btn {
  color: rgb(83, 70, 44);
  background: #8fb980;
  cursor: pointer;
  outline: none;
  border: none;
  float: right;
  width: 150px;
  font-size: 1.5em;
  margin: 1em;
  border-radius: 7px;
  font-family: "Potta One";
  transition: all 0.5s ease-in-out;
  box-shadow: -7px 10px 16px -5px rgba(0, 0, 0, 0.35);
  text-align: center;
}
.submit-btn {
  color: rgb(83, 70, 44);
  background: #8fb980;
  font-size: 1.5em;
  border-radius: 7px;
  font-family: "Potta One";
  border: none;
  transition: all 0.5s ease-in-out;
  box-shadow: -7px 10px 16px -5px rgba(0, 0, 0, 0.35);
}

button:hover, .nav-btn:hover {
  background: grey;
  color:white;
  transition: 0.3s ease background;
}
.list {
  height: 100%;
  margin: 1em 1em;
  font-size: 1em;
  flex-wrap: wrap;
  text-align: center;
  border: 2px solid rgb(211,211,211);
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  mask-repeat: repeat;
  list-style-type: none;
}
/* .example {
  width: 100%;
  height: 100%;
  background: url("/images/Neuron-scooter.jpg") bottom center no-repeat , url("/images/scooter.jpg")repeat;
} */
.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.nav-list {
  display: inline;
  border-bottom: 2px solid #43a3e6;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

.nav-list li {
  line-height: 50px;
}

#to-right {
  float: right;
}

#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

.slide {
  overflow: hiden;
  height: 400px;
  width: 400px;
  animation: slide_animation 10s linear;
}
@-webkit-keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 120px;
  }
  30% {
    left: 100px;
  }
  40% {
    left: 200px;
  }
  50% {
    left: 200px;
  }
  60% {
    left: 100px;
  }
  70% {
    left: 100px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}
.simg {
  width: 200px;
  height: 600px;
  margin: 0 0 0 200px;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

.img-example {
  height: 400px;
  width: 400px;
  position: relative;
  float: left;
}

.navbar-brand {
  background-image: url("/images/Logo1.png");
  background-position: center center;
  height: 80px;
  width: 160px;
  background-size: 160px;
  padding: 0%;
}

.scooterList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-scooter {
flex-basis: 50%;
}

.editbtn {
  position: relative;
  float: right;
  margin-right: 500px;
  margin-top: -300px;
}

.frame {
  height: 90vh;
  width: 100%;
  background-color: #eee;
  background-position: center;
  background-size: cover;
  animation: image 8s infinite alternate;
}

@keyframes image {
  0% {
    background-image: url("/images/Neuron-scooter.jpg");
  }
  100% {
    background-image: url("/images/scooter.jpg");
  }
  40% {
    background-image: url("/images/scooter1.jpg");
  }
  80% {
    background-image: url("/images/download.jpeg");
  }
}
