 <h2>Welcome back to your profile {{ email }}!</h2>
    <ul>
       <li id="to-right">
        <a href="/logout">Logout</a> <span> | </span>
     </li>
    </ul>
    <a href="/scooters">Scooters</a>
    <a href="/scooters/create-scooter">Create Scooter</a>
     
{{!-- {{else}}
    <p>Still no logged in user, sorry!</p> --}}
