 <h1>Welcome back to your profile {{ username }}!</h1>
    <a href="/scooters" class="btn-secondary">Scooters</a>
    <a href="/scooters/create-scooter" class="btn-secondary">Create Scooter</a>
     
{{!-- {{else}}
    <p>Still no logged in user, sorry!</p> --}}
